{% extends "base.html" %}

{% load pagination_tags %}

{% block title %}Post archive for {{ day|date:"d F Y" }}{% endblock %}

{% block menu %}
  {% include "includes/menu.html" with active="archive" %}
{% endblock menu %}

{% block content %}
  <h3>Post archive for {{ day|date:"d F Y" }}:</h3>
  {% autopaginate posts 5 %}
  <ul>
    {% for post in posts %}
      <li><a href="{{ post.get_absolute_url }}" title="View this post">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  {% paginate %}
{% endblock %}
