{% extends "base.html" %}

{% load pagination_tags %}

{% block content %}
  <ul>
    {% for post in posts %}
      {% ifchanged post.publish.year %}<h2><a href="{% url blog:archive_year post.publish.year %}">{{ post.publish.year }}:</a></h2>{% endifchanged %}
      {% ifchanged post.publish.month %}<h3><a href="{% url blog:post_list %}{{ post.publish.year }}/{{ post.publish|date:"b" }}/">{{ post.publish|date:"F" }}:</a></h3>{% endifchanged %}
      <li><a href="{{ post.get_absolute_url }}">{{ post }}</a></li>
    {% endfor %}
  </ul>
{% endblock content %}
