{% extends "base.html" %}

{% load pagination_tags %}

{% block title %}Posts for {{ category.title }}{% endblock %}

{% block menu %}
  {% include "includes/menu.html" with active="categories" %}
{% endblock menu %}

{% block content %}
  {% if posts %}
    <h3>Posts for {{ category.title }}</h3>
      {% autopaginate posts 5 %}
      {% for post in posts %}
        <li>{{ post.publish|date:"Y F d" }}: <a href="{{ post.get_absolute_url }}" title="View this post">{{ post.title }}</a></li>
      </div>
      {% endfor %}
      {% paginate %}
  {% else %}
    <h2>No posts for {{ category.title }}.</h2>
  {% endif %}
{% endblock %}
