{% extends "base.html" %}

{% load pagination_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h2>{{ post.title }}</h2>
  <p>
    {% if post.get_previous_by_publish %}
      <a href="{{ post.get_previous_post.get_absolute_url }}" title="View previous post">&laquo; {{ post.get_previous_post }}</a>
    {% endif %}
    {% if post.get_next_by_publish %}
      | <a class="next" href="{{ post.get_next_post.get_absolute_url }}" title="View next post">{{ post.get_next_post }} &raquo;</a>
    {% endif %}
  </p>
  <p>{{ post.publish|date:"j F Y" }}</p>
  <div>{{ post.content|safe }}</div>

  <h3>Comments:</h3>
  {% with post.comments.all as comments %}
    <ul>
      {% autopaginate comments 5 %}
      {% for comment in comments %}
        <li>
          {{ comment.created }} <b>{{ comment.author }}:</b> {{ comment.content }}
        </li>
      {% endfor %}
    </ul>
    {% paginate %}
  {% endwith %}

  <form action="{{ post.get_absolute_url }}" method="post">{% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="Send">
  </form>


{% endblock %}
