{% extends "base.html" %}

{% load pagination_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <h2>{{ post.title }}</h2>
  <p>{{ post.publish|date:"F j, Y" }}</p>
  {% with post.categories.all as categories %}
    {% if categories %}
      <h3>Under: {{ post.categories.all|join:', ' }}</h3>
    {% endif %}
  {% endwith %}

  {% with post.tags.all as tags %}
    {% if tags %}
      <h3>Tags: {{ tags|join:', ' }}</h3>
    {% endif %}
  {% endwith %}

  <div>{{ post.content|safe }}</div>

  {% if post.get_previous_by_publish %}
    (previous post) <a href="{{ post.get_previous_post.get_absolute_url }}" title="View previous post">&laquo; {{ post.get_previous_post }}</a>
  {% endif %}
  {% if post.get_next_by_publish %}
    | <a class="next" href="{{ post.get_next_post.get_absolute_url }}" title="View next post">{{ post.get_next_post }} &raquo;</a> (next post)
  {% endif %}

  {% if comment_form %}
    <h3>Comments:</h3>
    {% with post.comments.all as comments %}
      <ul>
        {% autopaginate comments 5 %}
        {% for comment in comments %}
          <li>
            {{ comment.created|date:"F d Y" }}, <b>{{ comment.author }}:</b> {{ comment.content }}
          </li>
        {% endfor %}
      </ul>
      {% paginate %}
    {% endwith %}

    <form action="{{ post.get_absolute_url }}" method="post">{% csrf_token %}
      {{ comment_form.as_p }}
      <input type="submit" value="Send">
    </form>
  {% else %}
    <h3>Comments are not allowed.</h3>
  {% endif %}

{% endblock %}
